body{
    font-family: serif;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container{
    align-self: center;
    background-color: darkgrey;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgb(201, 19, 127);
}

.form-group{
    margin-bottom: 10px;
}

label{

}

button{
    background-color: greenyellow;
    padding: 10px;
    border-radius: 22px;
    cursor: pointer;
    font-size: 18px;
}